!!! 5
%html(lang="no")
  %head
    %title= $page_title
    %link(rel='stylesheet' type='text/css' href='/assets/stylesheets/application.css')
  %body
    %nav
      %ul
        %li
          %a(href='/create_tables.php') Create tables
    %h1 Booking av rom
    .content
      != $content