/*-------------------------------------------*/
/*---------- CSS Start ----------------------*/
/*-------------------------------------------*/
/*      Eksamensoppgave PJ2100 Gruppe 17     *
 *                                           *
 *      Aslak Austenå Løvdal                 *
 *      Frode Bang                           *
 *      Oliver Eftevaag                      *
 *      Lars Dalan                           *
 *      Lars Hallaraaker                     *
 *      Andreas Ødegaard                     *
 *      Christopher Komatovic                *
 *                                           */
/*-------------------------------------------*/
/*-------------------------------------------*/


@charset "UTF-8";

body {
    margin: 0;

	}
#wrapper {
    width: auto;
    max-width: 1080px;
    height: auto;
    margin:auto;
    position: relative;
	}
/*-------------------------------------------*/
/*---------- Header Start -------------------*/
/*-------------------------------------------*/

/* Main */ 

header {
    width: 100%;
    max-height: 200px;
    height: auto;
    display: inline-block;
    position: relative;
    float: left;
    margin-bottom: 2%;
}
/*-------------------------------------------*/
/* Logo*/

logo{
    position: relative;
    float: left;
    display: inline-block;
    max-width: 40%;
    margin-top: 28px; 
}
logo img{
    width: 100%;
    
}
/*-------------------------------------------*/
/* Navigation */ 

nav {
    width: 30%;
    float: left;
    text-align: center;
    font-size: 1em;
	}

nav ul {
    margin-top: 38.5%;
    float: left;
}

a{
    text-decoration: none;
    color: #202020;
    padding-bottom: 5px;
}

nav a:hover{ 
    border-bottom:2px solid #FF7061; 
}

.navbar {
	list-style: none;
	margin: 20px;
	display: inline;
	}
/*-------------------------------------------*/
/* My Page */ 

#about{
    position: relative;
    width: 30%;
    float: right;
}

#about a {
    text-align: center;
    font-size: 1em;
    display: block;
    margin: 0;
    margin-top: 38.5%;
    margin-right: 45px;
    margin-left:85px;
    width: auto;
}

#about a:hover{
    color: #FF7061;
}

.icon {
    margin-top: 32%;
    margin-left: 45px;
    float: left;
    width: 15%;
    height: auto;
    display: block;
}

/*-------------------------------------------*/
/*---------- Header Slutt -------------------*/
/*-------------------------------------------*/
/*---------- Søk og Kalender Start ----------*/
/*-------------------------------------------*/
#finder{
    width: 100%;
    min-height: 300px;
    position: relative;
    display: inline-block;
    margin-bottom: 4%;
}

/*-------------------------------------------*/
/* Search Menu */ 

#search_menu{
    width: 30%;
    float: left;
    position: relative;
}

menu {
    width: 100%;
	float: left;
    padding: 0;
    margin: 0;
}
menu dl {
	list-style: none;
    margin: 0;
}

menu li{
    width: auto;
    height: 30px;
    margin-bottom: 1em;
    position: relative;
}

menu select{
    display:inline-block;
    float: left;
    position: relative;
}

menu p{
    margin: 0;
    width: 60%;
    font-size: 1.0em;
    float: left;
    display: inline-block;
}

menu label{
    width:60%;
    font-size: 1.0em;
    float: left;
    display: inline-block;
}

.search_button{
    width:100%;
    height: 30px;
    margin-left: 0;
    margin-right: 0;
    font-family: sans-serif;
    font-size: 0.9em;
    background-color: #202020;
    border-color: #202020;
    color: #FFFFFF;
    
}

/*-------------------------------------------*/
/* Calendar Overview */ 

#shedule_list{
    width: 65%;
    height: auto;
    float: left;
    position: relative;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 5%;
    -webkit-margin-end: 0px;
    
}

.kalender {
    width: 100%;
	float: left;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    
}

.kalender th, td{
    height: 40px;
}

.kalender th{
    height: 40px;
}

.table_head{
    font-size: 0.9em;
    background-color: #000;
    color: #FFF;
}

.table_content{
    font-size: 0.8em;
}
    


/*-------------------------------------------*/
/* Assets */ 

tr{
    width: auto;
}

th, td{
    width:auto;
    max-width: 150px;
    padding-left: 2%;
    margin: 0;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:nth-child(odd) {
    background-color: #fff;
}

.button{
    text-align: center;
}

.reserve_room{
    width: 90px;
    margin: 0;
    height: 22px;
    border-radius:10px;
    text-align: center;
    background-color: #FF7061;
    border-color: #FF7061;
    border-style: solid;
    color: #FFFFFF;
}

.reserve_room:hover{
    border-color: #E66557;
    background-color: #E66557;
   
}

.button {
    text-align: center;
}

.font_style_class{
    font-family: sans-serif;
}

.border{
    background: url(../../bilder/border.png)center center repeat-x;
    background-size: 3rem;
    height: 8rem;
}

/*-------------------------------------------*/
/*---------- Søk og Kalender Slutt ----------*/
/*-------------------------------------------*/
/*---------- Your Reservations Start --------*/
/*-------------------------------------------*/

#reservations_overview{
    width: 100%;
    min-height: 300px;
    position: relative;
    display: inline-block;
}

/*-------------------------------------------*/
/* Latest Reservation */

#latest_reservation{
    width: 100%;
    height: auto;
    min-height: 100px;
    position: relative;
    margin-bottom: 4%;
}

#latest_reservation table{
    width:100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.9em;
}

/*-------------------------------------------*/
/* Login Form */

body, input, button, textarea {
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-family: sans-serif;
    font-size: 26px;
    margin-bottom: 40px;
}

p, a, label {
    color: #202020;
}

label {
    font-family: sans-serif;
    font-size: 16px;
    margin-bottom: 6px;
    display: block;
}

input[type=text], input[type=password] {
    font-family: sans-serif;
    font-size: 18px;
    padding: 11px 10px 9px;
    border: 0;
    background: #eee;
    border-radius: 3px;
    outline: none;
    width: 40%;
}

.login-form p {
    margin-bottom: 10px;
}

.login-form button {
    margin-top: 20px;
}

.submit-button{
    padding: 10px 15px 9px 13px;
    border-radius:200px;
    background-color: #FF7061;
    border: 0;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
    height: 100%;
}

/*-------------------------------------------*/
/* Reservation List */

#reservation_list{
    width: 100%;
    height: auto;
    min-height: 200px;
    position: relative;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#reservation_list table{
    width:100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.9em;
}

.reservation_list{
    width: 100%;
    height: 40px;
    background-color: #000;
    
    
}

.reservation_head{
    font-size: 0.9em;
    background-color: #000;
    color: #FFF;
   
}

.reservation_content{
    height: 60px;
    text-align: left;
}

/*-------------------------------------------*/
/*---------- Your Reservations End ----------*/
/*-------------------------------------------*/
/*---------- Footer Start -------------------*/
/*-------------------------------------------*/
footer {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
	}
/*-------------------------------------------*/
/*---------- Footer Slutt -------------------*/
/*-------------------------------------------*/

