/* reset */

body,canvas,html,div,p,a,blockquote,img,label,h1,h2,h3,h4,h5,h6,pre,ul,ol,li,dl,dt,dd,form,fieldset,th,td{margin:0;padding:0;border:0;outline:0;}ul,ol,li{list-style:none;}body{line-height:1;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}html,body,div,span{font-weight:inherit;font-style:inherit;font-size:inherit;font-size:100%;font-family:inherit;text-align:inherit;vertical-align:baseline;}a{text-decoration:none;}textarea{outline:0;border:solid 1px;margin:0;}input,button:focus{outline:0;}button{border:0;margin:0;}body,input,button,textarea{-webkit-font-smoothing:antialiased;}

/* common */

body {
  padding: 20px;
}

h1 {
  font-family: 'Avenir';
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 28px;
}

h3 {
  font-family: 'Avenir';
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

p, a {
  font-family: 'Helvetica Neue';
  font-size: 16px;
}

nav {
  margin-bottom: 28px;
}